In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ls

cat_estacion.csv     Datos_Procedados/  Limpieza.ipynb
Concatenacion.ipynb  Fotos/             Modelos/
Datos/               HISTORICO/         Modelos.ipynb

In [ ]:
cd RAMA

In [ ]:
ls

In [3]:
df = pd.read_excel('/home/alberto/Documentos/Proyecto_Mineria/Datos/REDMET/2008WSP.xls')

In [4]:
df.describe()

,HORA,TAC,FAC,SAG,TLA,XAL,MER,PED,CES,PLA,VIF,CUA,TPN,MON,TAH,SUR
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,12.500000,-10.936077,-43.928245,-2.407741,-1.184756,-2.211976,-2.381557,-1.461646,-19.699442,-12.398338,-6.381865,-8.185838,-24.494422,-14.063286,-25.805123,-63.695947
std,6.922581,33.176244,50.054347,21.138159,17.516345,19.120978,18.958105,16.886181,40.689292,34.391312,27.447526,30.782495,44.426718,36.953533,45.065045,48.063033
min,1.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000
25%,6.750000,0.700000,-99.000000,1.100000,1.100000,0.700000,0.600000,0.800000,0.300000,0.500000,0.800000,1.100000,-99.000000,0.500000,-99.000000,-99.000000
50%,12.500000,1.200000,0.500000,1.800000,1.700000,1.200000,1.100000,1.300000,0.800000,0.900000,1.300000,1.900000,1.400000,1.100000,1.000000,-99.000000
75%,18.250000,1.900000,1.400000,3.000000,2.500000,2.000000,1.800000,1.800000,1.300000,1.500000,2.100000,2.800000,2.100000,2.400000,2.100000,0.900000
max,24.000000,5.600000,6.700000,7.400000,6.800000,6.500000,4.900000,6.300000,6.200000,5.700000,7.000000,8.500000,9.200000,9.500000,8.100000,5.600000

In [5]:
df.replace(99,-99, inplace=True)

In [6]:
df = df.replace(-99, np.nan)

In [17]:
df.head()

,FECHA,HORA,TAC,FAC,SAG,TLA,XAL,MER,PED,CES,PLA,VIF,CUA,TPN,MON,TAH,SUR
0,2008-01-01,1,1.3,1.1,2.3,1.6,1.1,1.4,1.7,0.5,NaN,1.0,0.8,2.0,1.2,2.3,NaN
1,2008-01-01,2,0.9,1.1,2.0,1.7,0.5,1.1,2.0,0.2,NaN,0.7,1.0,1.9,0.2,0.9,NaN
2,2008-01-01,3,1.0,0.2,2.1,1.9,0.1,0.7,1.4,0.4,NaN,0.9,1.3,2.7,0.7,1.5,NaN
3,2008-01-01,4,1.1,1.5,1.6,2.3,0.7,0.6,1.6,0.3,0.8,0.8,0.2,2.2,0.7,1.2,NaN
4,2008-01-01,5,0.6,0.6,1.0,NaN,0.3,1.4,1.6,0.3,0.7,NaN,0.5,2.1,0.5,0.7,NaN

In [18]:
df1 =df.pivot_table(columns='TAC')

In [ ]:
df.drop('HORA',inplace=True,axis=1)

In [19]:
df1.describe()

TAC,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,...,4.4,4.5,4.6,4.7,4.9,5.0,5.1,5.3,5.5,5.6
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,...,15.000000,15.000000,15.000000,15.000000,14.000000,14.000000,14.000000,14.000000,13.000000,14.000000
mean,1.637043,1.639079,1.610254,1.615528,1.743946,1.686049,1.728050,1.717527,1.760194,1.875342,...,5.188481,5.043638,4.603667,4.689222,5.139286,4.840476,5.342857,5.600000,5.707692,5.185714
std,2.133785,2.258249,2.089642,2.076898,2.236248,2.197847,2.213024,2.264855,2.253629,2.410549,...,3.814442,3.371514,3.828734,3.719861,3.140320,4.352996,3.617152,2.955764,2.858456,4.689244
min,0.583333,0.623529,0.652033,0.657386,0.711765,0.697654,0.720414,0.732494,0.775377,0.858115,...,2.693750,2.725000,1.400000,2.340000,2.700000,1.700000,2.700000,2.400000,0.300000,1.900000
25%,0.840178,0.873089,0.869216,0.874733,0.901745,0.900419,0.933978,0.945124,0.946331,1.039308,...,3.688095,3.360000,3.130000,3.182500,3.837500,2.766667,3.912500,4.325000,4.600000,3.525000
50%,0.916279,0.953968,1.026733,0.995028,1.068664,1.021690,1.117429,1.101325,1.177284,1.189518,...,4.487500,4.687500,3.700000,4.000000,4.225000,3.383333,4.475000,4.975000,4.900000,4.400000
75%,1.391748,1.403956,1.248183,1.258981,1.403000,1.329231,1.358116,1.280830,1.341060,1.471775,...,4.903846,5.090000,4.372500,4.506667,5.225000,5.000000,5.387500,5.900000,6.400000,4.700000
max,9.177778,9.710145,9.038462,8.989071,9.684874,9.513587,9.619444,9.810638,9.817308,10.507463,...,18.687500,16.800000,18.000000,17.800000,15.500000,19.333333,17.500000,15.000000,13.000000,21.000000

In [20]:
df1.head()

TAC,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,...,4.4,4.5,4.6,4.7,4.9,5.0,5.1,5.3,5.5,5.6
CES,0.848649,0.907273,0.832381,0.854037,0.864563,0.849201,0.848311,0.824468,0.863824,0.889634,...,2.693750,3.044444,3.100,3.025,4.55,1.700000,4.25,3.65,4.1,1.9
CUA,2.312821,1.840625,2.147154,2.152601,2.216667,2.060961,1.971601,1.916386,1.873421,1.974859,...,4.716667,5.214286,4.820,2.340,5.45,2.500000,5.60,5.50,0.3,4.3
FAC,0.795455,0.737500,0.871765,0.752632,0.938926,0.891489,0.965198,0.978049,0.970787,1.045714,...,4.250000,4.687500,4.325,3.340,4.20,4.866667,3.90,3.50,4.6,5.7
HORA,9.177778,9.710145,9.038462,8.989071,9.684874,9.513587,9.619444,9.810638,9.817308,10.507463,...,18.687500,16.800000,18.000,17.800,15.50,19.333333,17.50,15.00,13.0,21.0
MER,0.583333,0.681250,0.652033,0.657386,0.720455,0.697654,0.720414,0.732494,0.775377,0.858115,...,3.118750,3.590000,3.300,3.460,2.70,3.333333,4.25,4.65,4.4,4.7

In [ ]:
Prom=df.mean(axis=1)

In [ ]:
Max=df.max(axis=1)

In [ ]:
Min=df.min(axis=1)

In [ ]:
df.eval("Min= @Min.values", inplace=True)

In [ ]:
df.eval("Max= @Max.values", inplace=True)

In [ ]:
df.eval("Prom = @Prom.values", inplace=True)

In [ ]:
df.head()

In [ ]:
df['Max'].describe()

In [ ]:
Pro_03 = df[['FECHA','Prom','Min','Max']].copy()

In [ ]:
Pro_03.head()

In [ ]:
Pro_03.describe()

In [ ]:
Pro_03.to_excel('Datos_2008WSP.xlsx')

In [ ]:
gr = df.groupby('FECHA')

In [ ]:
df.describe()